body{
    
    background-color: lightblue;
    color: rgb(7, 7, 6)
}

h1{
;
    text-align: center;
    font-size: xx-large;
}
h3{
    color: black;
    
    
}
@media screen and (max-width: 1200px){
    

    .navbar{
        width: 100%;
        height: 100px;
    
    }
    ul{
        margin-left: 30px;
    }
    ul li{
        margin-left: 60px;

    }
    ul li a{
        font-size: 1.6vw;
    }
    .search{
        margin-top: 3px;
        margin-left: 290px;
    }
    .srch{
        height: 40px;
        width: 190px;
        font-size: 14px;
    }
    .btn{
        height: 40px;
        width: 80px;
    }
    .content{
        width: 100%;
    }
    .content h1 .content span{
        font-size: 4.5vw;
    }
    .content .par{
        width: 90%;
        font-size: 1.5vw;
    }
    .content .cn{
        width: 13%;
        height: 3.5vw;
        font-size: 1.8vw;
    }
    .content a{
        font-size: 1.6vw;
    }
}

@media screen and (max-width:1170px) {
    .main{
        padding-left: 20px;
        height: 180vh;
    }
    
    
}